/.pytest_cache
/.vscode
/age.cpp
/age.exe
/as,.cpp
/batphtrinh.txt
/caculator.cpp
/caculators.cpp
/caculators.exe
/case.exe
/code.ipn
/code.pynb
/coding.py
/cp.c
/cp.exe
/cpp.2cpp
/cpp.cpp
/cpp_content.cpp
/cpp_content.exe
/desktop.ini
/formom.py
/gamexoso.py
/gcc.cpp
/gcc.exe
/glory.py
/helloworld.java
/helloworlds.java
/idk.cpp
/idk.exe
/imper.py
/java.java
/jup
/neworde.cpp
/neworde.exe
/newpythonsystem.py
/newsystem.py
/po.ipynb
/python.py
/pythonfordeadass.py
/python_4_fun.py
/rockpapersisoor.py
/rockpapersissor.py
/run.py
/sweethomealabama.py
/taxifare.cpp
/taxifare.exe
/unreal.cpp
/unreal.exe
/__pycache__